<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/home/raone/Desktop/Hostel-Allotment-System/server/static/bootstrap-3.4.1-dist">
    <title>Hostel website</title>
  </head>
  <body>
