<h1>add new hostel </h1>
<form class="" action="/hostel" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="image" placeholder="image">
  <button type="button" name="button">submit!</button>
</form>
